<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Créer une nouvelle tâche</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}

    <h2 class="margin">Créer une nouvelle tâche</h2>

    <!-- Conteneur message d'erreur -->
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}

    <!-- Conteneur formulaire-->
    <form class="form" method="post">
        {% csrf_token %}

        <label for="libelle">Libellé:</label>
        <input type="text" id="libelle" name="libelle">

        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>

        <label for="priorite">Priorité:</label>
        <select id="priorite" name="priorite">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>

        <label for="date_debut">Date de début:</label>
        <input type="date" id="date_debut" name="date_debut">

        <label for="date_fin">Date de fin:</label>
        <input type="date" id="date_fin" name="date_fin">

        <label for="assigne">Assigner la tâche à :</label>
        <select id="assigne" name="assigne" multiple>
            {% for utilisateur in utilisateurs %}
                <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
            {% endfor %}
        </select>

        <!-- Conteneur les boutons-->
        <div class="in-line margin">
            <button class="btn creer-btn" type="submit"><i class="fas fa-plus"> </i> Créer</button>
            <button class="btn annuler-btn" type="button" onclick="window.history.back()">
                <i class="fas fa-times"></i>
                Annuler
            </button>
        </div>
    </form>
{% endblock %}
</body>
</html>
