{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Créer une nouvelle tâche</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_formulaire_tache.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
{% include 'header.html' %}
<h1>Créer une nouvelle tâche</h1>
{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <label for="libelle">Libellé:</label>
    <input type="text" id="libelle" name="libelle">
    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea>
    <label for="priorite">Priorité:</label>
    <select id="priorite" name="priorite">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <label for="date_debut">Date de début:</label>
    <input type="date" id="date_debut" name="date_debut">
    <label for="date_fin">Date de fin:</label>
    <input type="date" id="date_fin" name="date_fin">
    <div class="in-line">
        <button class="btn creer-btn" type="submit"><i class="fas fa-plus"> </i> Créer</button>
        <button class="btn annuler-btn" type="button" onclick="window.history.back()">
            <i class="fas fa-times"></i>
            Annuler
        </button>
    </div>
</form>
</body>
</html>
