{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Détails du projet</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style_detail_projet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
{% include 'header.html' %}
<div class="retour">
    <a href="{% url 'liste_projets' %}">
        <i class="fas fa-chevron-left back-icon" title="Retour"></i>
    </a>
</div>
<h2>
    {{ projet.nom }}
</h2>
<div class="detail-projet">
    <p>Avancement : {{ projet.avancement }}</p>
    <p>Statut : {{ projet.statut }}</p>
</div>
<a href="{% url 'creer_tache' projet_id=projet.id_projet %}">Créer une nouvelle tâche</a>
<table>
    <thead>
    <tr>
        <th>Planifiée</th>
        <th>En cours</th>
        <th>Réalisée</th>
        <th>En pause</th>
        <th>Validée</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for statut, taches in taches_par_statut.items %}
            <td class="statut {{ statut }}">
                <ul>
                    {% for tache in taches %}
                        <li class="tache {% if tache.priorite == 1 %}priorite-basse{% elif tache.priorite == 2 %}priorite-moyenne{% else %}priorite-haute{% endif %}">
                            <h3>{{ tache.libelle }}</h3>
                            <form method="post" action="{% url 'supprimer_tache' tache_id=tache.id_tache %}">
                                {% csrf_token %}
                                 <button type="submit"><i class="fas fa-trash-alt"></i></button>
                            </form>
                            {% if tache.tache_parent %}
                                <p><strong>Tâche parente : </strong> {{ tache.tache_parent.libelle }}</p>
                            {% endif %}
                            <p><strong>Description : </strong> {{ tache.description }}</p>
                            <p><strong>Durée : </strong>{{ tache.duree }} jours</p>
                            <p><strong>Avancement :</strong> {{ tache.avancement }} %</p>
                            <form method="post" action="{% url 'modifier_avancement_tache' tache_id=tache.id_tache %}">
                                {% csrf_token %}
                                <label for="avancement">Modifier l'avancement :</label>
                                <input type="number" name="avancement" min="0" max="100" required>
                                <input type="submit" value="Modifier">
                            </form>
                            <form method="post" action="{% url 'modifier_statut_tache' tache_id=tache.id_tache %}">
                                {% csrf_token %}
                                <label for="statut">Modifier le statut :</label>
                                <select name="statut">
                                    <option value="Planifiée">Planifiée</option>
                                    <option value="En cours">En cours</option>
                                    <option value="Réalisée">Réalisée</option>
                                    <option value="En pause">En pause</option>
                                    <option value="Validée">Validée</option>
                                </select>
                                <input type="submit" value="Modifier">
                            </form>
                            {% if tache.niveau_profondeur == 1 or tache.niveau_profondeur == 2 %}
                                <a href="{% url 'creer_sous_tache' tache_id=tache.id_tache %}">Ajouter sous-tâche</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
</body>
</html>
