<header>
    {% block content %}
        <h1>🎯 Projet Management</h1>
        <div class="user_bloc">
            Bonjour {{ user.username }} !
            <!-- Check le groupe d'appartenance da personne loguée -->
            {% if user.estResponsable == True %}
                Responsable
            {% elif user.estGestionnaire == True %}
                Gestionnaire
            {% else %}
                Employe
                <!-- Block else à supprimer, pour tests seulement -->
            {% endif %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="logout-button">
                    <i class="fas fa-sign-out-alt logout-icon" title="Déconnexion"></i>
                </button>
            </form>
        </div>
    {% endblock %}
</header>