<header>
    {% block content %}
        Bonjour {{ user.username }} !
        <!-- Check le groupe d'appartenance da personne loguée -->
        {% if user.groups.all.0.name == 'Admin' %}
            Admin
        {% elif user.groups.all.0.name == 'Gestionnaire' %}
            Gestionnaire
        {% elif user.groups.all.0.name == 'Employe' %}
            Employe
            <!-- Block else à supprimer, pour tests seulement -->
        {% else %}
            <h2>Nada</h2>
        {% endif %}
        <h1>🎯 Projet Management</h1>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-button">
                <i class="fas fa-sign-out-alt logout-icon" title="Déconnexion"></i>
            </button>
        </form>
    {% endblock %}
</header>