<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des projets</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}

    <!-- Conteneur message -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="in-line margin">
        <!-- Si l'utilisateur est Responsable, il aura accès à ce formulaire -->
        {% if user.estResponsable == True %}
            <form action="" method="post">
                {% csrf_token %}
                <input class="create-projet-input" type="text" name="nom_projet" placeholder="Nom du projet" required>
                <button class="btn creer-btn" type="submit"><i class="fas fa-plus"></i> Créer nouveau projet</button>
            </form>
        {% endif %}

        <a href="{% url 'saisie_absence' %}">
            <button class="btn"><i class="fas fa-calendar"></i>Saisie absence</button>
        </a>
    </div>

    {% for status, projets_list in projets.items %}
        {% if projets_list %}
            <h2 class="projets-title">Projets {{ status }}</h2>
            <ul class="projets">
                {% for projet in projets_list %}
                    <li class="projet {{ status }}">
                        <a href="{% url 'detail_projet' projet.id_projet %}">
                            <div class="in-line">
                                <h3>{{ projet.nom }}</h3>
                                <!-- Si l'utilisateur est Responsable, il pourra supprimer le projet -->
                                {% if user.estResponsable == True %}
                                    <script>
                                        function confirmDelete() {
                                            return confirm("Voulez vous vraiment supprimer ce projet ?");
                                        }
                                    </script>
                                    <form action="{% url 'supprimer_projet' projet.id_projet %}" method="post"
                                          onsubmit="return confirmDelete();">
                                        {% csrf_token %}
                                        <button type="submit"><i class="fas fa-trash-alt trash-icon"></i></button>
                                    </form>
                                {% endif %}
                            </div>
                            <p><strong>Responsable : </strong>{{ projet.responsable.username }}
                            </p>
                            <p><strong>Avancement : </strong>{{ projet.avancement }}</p>
                            <p><strong>Date début : </strong>{{ projet.date_debut|date:"d/m/Y" }}</p>
                            <p><strong>Date fin : </strong>{{ projet.date_fin|date:"d/m/Y" }}</p>
                        </a>
                        <!-- Si l'utilisateur est responsable, il peut modifier le statut du projet-->
                        {% if user.estResponsable == True %}
                            <form method="post"
                                  action="{% url 'modifier_statut_projet' projet_id=projet.id_projet %}">
                                {% csrf_token %}
                                <label for="statut"><strong>Statut :</strong></label>
                                <select name="statut" class="tache-input">
                                    <option value="Planifié">Planifié</option>
                                    <option value="En cours">En cours</option>
                                    <option value="Livré">Livré</option>
                                    <option value="En pause">En pause</option>
                                </select>
                                <button type="submit" class="btn modifier-btn">
                                    <i class="fas fa-pen" style="margin-right: 0px" ;></i>
                                </button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
</body>
</html>
