<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saisie d'absence</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
    <!-- Conteneur message -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="in-line" style="justify-content: flex-start; margin-left: 30px;">
        <a href="{% url 'liste_projets' %}">
            <i class="fas fa-chevron-left back-icon" title="Retour"></i>
        </a>
        <h2 class="margin">Saisie d'absence</h2>
    </div>

    <form class="form" method="post">
        {% csrf_token %}
        <label for="type">Motif:</label>
        <select id="type" name="type">
            <option value="Arrêt maladie">Arrêt maladie</option>
            <option value="Congés">Congés</option>
        </select>
        <label for="debut">Date de début:</label>
        <input type="date" id="debut" name="debut">
        <label for="fin">Date de fin:</label>
        <input type="date" id="fin" name="fin">

        <!-- Conteneur les boutons-->
        <div class="in-line margin">
            <button class="btn creer-btn" type="submit"><i class="fas fa-plus"> </i> Créer</button>
            <button class="btn annuler-btn" type="button" onclick="window.history.back()">
                <i class="fas fa-times"></i>
                Annuler
            </button>
        </div>

    </form>
{% endblock %}
</body>
</html>
