body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #3c5eb4;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 20px;
}

.logout-icon {
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logout-icon:hover, .back-icon:hover {
    transform: scale(1.2);
}

h2 {
    margin-left: 15px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.retour {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.back-icon {
    margin-left: 30px;
    font-size: medium;
    transition: transform 0.3s ease;
    margin: 5px;
}

.in-line {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
}

button {
    background: none;
    border: none;
    color: inherit;
}
.btn {
    align-items: center;
    background-color: #E4E6EA;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    color: #172b4d;
    cursor: pointer;
    display: inline-flex;
    font-size: x-small;
    font-weight: 500;
    justify-content: center;
    padding: 4px 8px;
}

button:hover {
    background-color: #D0D4DB;
}

a {
    color: inherit;
    text-decoration: none;
}

.trash-icon {
    color: black;
}

p {
    margin: 0px 0px 5px 0;
}

i {
    margin-right: 5px;
}