table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    border: none;
}

h3 {
    margin-bottom: 10px;
}

th, td {
    width: 20%;
    border: none;
    text-align: left;
    vertical-align: top;
}


th {
    padding: 15px;
}

td {
    padding: 5px;
}

th {
    background-color: #6CC3E0;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
}

.statut {
    background-color: #f4f5f7;
    border-radius: 5px;
    font-size: 14px;
}

ul {
    padding: 0px;
    flex-grow: 1;
}


.tache {
    list-style: none;
    margin-bottom: 10px;
    padding: 20px 10px 30px 10px;
    border-radius: 8px;
    position: relative;
    background-color: white;
    border-color: #999;
    flex-grow: 1;
    box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
}

